

button.b1{
    border:1px solid rgb(180, 77, 77);
    color:rgb(180, 77, 77);
    
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
    height: 50px;
    width:55px;
    font-size: large;
}
body{
  padding: 200px;
  margin-top: 100px;
  margin-right: 290px;
  margin-left: 290px;
  width: 300px;
  margin: auto;
  text-align: center;
}
.container{
    margin: 60% auto;
}

.App{
margin-top:50px;
margin-left: 40%;
}
.v-input{
    border-bottom:1px solid rgb(180, 77, 77);
    border-top:1px solid rgb(180, 77, 77);
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(253, 226, 229, 0.671);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 46px;
    width:55px;
    color: rgb(180, 77, 77);
    text-align: center;
    font-size: large;
    outline:none;
}
button.b2{
    border:1px solid rgba(255, 0, 0, 0.288);
    background-color: rgb(180, 77, 77);
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    height: 50px;
    width:55px;
    color: white;
    font-size: large;
}